.mainContainer {
    height: calc(100vh - 50px);
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: var(--purpleDark);
}

.cardDiv {
width: 40vw;
padding-left: 20px;
height: 100%;
justify-content: center;
}

.descriptionDiv {
    width: 60vw;
    height: 100%;
}

.linksDiv {
    display: flex;
    flex-flow: row nowrap;

    justify-content: space-around;
}

.linksDiv a {
    color: var(--white);
    padding-top: 3rem;
}