:root{
  --purple: #4A10A5;
  --purpleDark: #370C7A;
  --purpleLight: #9410A5;
  --green: #96E916;
  --red: #A51020;
  --blueLight: #12BDAB;
  --white: #FEFEFE;
  --black: #010101;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--purple);
  color: var(--green);
}

.nav {
  height: 50px;
  width: 100%;
  background-color: var(--purpleDark);
  position: relative;
  box-shadow: 0px 1px 1px 0px var(--black);
  /* border-bottom: 1px solid var(--red); */

}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 28px;
  color: var(--white);
  padding: 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: var(--green);
}

.nav > .nav-links > a:hover {
  background-color: var(--purpleDark);
  color: var(--blueLight);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: var(--purpleDark);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid var(--green);
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: var(--purpleDark);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

form {
	display: block;
  padding: 10px;
  height: 100%;
  background-color: var(--purpleDark);
}

input {
	display: block;
  margin-bottom: 5px;
  padding: 0.25rem;
  
  border: 1px solid var(--red);
  border-radius: 5px;

  background-color: var(--purple);
  color: var(--blueLight);
}

input:focus{
  outline: none;
  background-color: var(--purpleDark);
}

button {
 background-color: var(--purple);
 font-size: 16px;
 color: var(--green);
 margin-right: 15px;

 border: solid 2px var(--red);
 border-radius: 5px;

 padding: 0.25rem 0.6rem;
}

button:hover{
  background-color: var(--purpleDark);
  color: var(--blueLight);
  opacity: 0.7
}

button:active{
  background-color: var(--purpleDark);
  opacity: 0.4;
  transform: translateY(2px);
}