.myCards {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 50px);
}

.card {
    height: 320px;
    width: 200px;

    background-color: var(--purpleLight);

    border: 1px solid var(--purpleDark);
    border-radius: 10px;
    padding: auto;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

}
  
.cardList {
    display: flex;
    flex-wrap: wrap;
    margin-left: 235px;
    height: 100vh;
    overflow-y: scroll;
}

.cardHolder {
    height: 340px;
    width: 220px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.nameContainer {
    height: 20px;
    width: 180px;

    background-color: var(--purpleDark);
    font-weight: bold;
    color: var(--green);

    font-size: 14px;
    padding: 0.1rem 0.5rem 0 0.5rem;
    margin-bottom: 4px;
    border-radius: 6px;
}

.imageContainer {
    height: 160px;
    width: 180px;

    margin-bottom: 10px;
 
}

.image {
    border: 1px solid var(--purpleDark);
    border-radius: 10px;
}

.tableContainer {
    height: 110px;
    width: 180px;
    
    border-radius: 5px;

    background-color: var(--purpleDark);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.table {
    padding: 0.5rem;
    width: 180px;
}

.icon {
    height: 40px;
    width: 40px;
}

@keyframes cardHover {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(3px, -3px);
    }
}

.card:hover {
    animation-name: cardHover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
    background-color: var(--purpleLight);
    color: var(--green);
    opacity: 1
}

.card:active {
    background-color: var(--purpleLight);
    opacity: 1;
    transform: translateY(2px);
}

.deleteButton {
    background-color: var(--purple);
    font-size: 16px;
    color: var(--white);

    margin-right: 15px;
    margin-top: 5px;
    
    width: 100%;
    border: solid 2px var(--red);
    border-radius: 5px;
    padding: 0.25rem 0.6rem;
}

.deleteButton:hover {
  background-color: var(--purpleDark);
  color: var(--red);
  opacity: 0.7
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}