.myCards {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 50px);
}

.card {
    height: 320px;
    width: 200px;

    background-color: var(--purpleLight);

    border: 1px solid var(--purpleDark);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

}
  
.cardList {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.cardHolder {
    height: 340px;
    width: 220px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.nameContainer {
    height: 20px;
    width: 180px;

    background-color: var(--purpleDark);
    font-weight: bold;
    color: var(--green);

    font-size: 14px;
    padding: 0.1rem 0.5rem 0 0.5rem;
    margin-bottom: 4px;
    border-radius: 6px;
}

.imageContainer {
    height: 160px;
    width: 180px;

    margin-bottom: 10px;
 
}

.image {
    border: 1px solid var(--purpleDark);
    border-radius: 10px;
}

.tableContainer {
    height: 110px;
    width: 180px;
    
    border-radius: 5px;

    background-color: var(--purpleDark);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.table {
    padding: 0.5rem;
    width: 180px;
}

.table td {
}

.icon {
    height: 40px;
    width: 40px;
}

.createCard {
    height: 320px;
    width: 200px;

    border: 2px solid var(--blueLight);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    opacity: 0.6;
}

.createCard:hover{
    opacity: 0.8;
    cursor: pointer;
}

.createButton {
    border: 4px solid var(--blueLight);
    height: 50px;
    width: 50px;
    border-radius: 25px;

    padding: 0;
    margin: 0;

    color: var(--blueLight);
    font-size: 30px;
    font-weight: 600;

    opacity: 0.6;
}

.createButton:hover {
    opacity: 1;
    cursor: pointer;
}

@keyframes cardHover {
    from {
        transform: translate(0px, 0px);
    }

    to {
        transform: translate(3px, -3px);
    }
}

.card:hover {
    animation-name: cardHover;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}